body {
  background: #eee !important;
}

.wrapper {

  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
 
  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
.header{
  width: 100%;
  height: 150px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none !important;
}

.smallnav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.smallnav p {
  margin-top: 33px;
  margin-right: 9px;
  font-family: 'Dancing Script';
  font-size: 22px;
}


.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
  font-size: 16px !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-weight: 400 !important;

  text-transform: uppercase !important;
  font-family: "EB Garamond", serif !important;
  position: relative !important;
  opacity: 1 !important;
}


.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
  color: #000;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.container_product {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;
}

.ftco-navbar-light .navbar-brand {
  color: #2c396b;
  margin-top: 20px;
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.w-100 {
  width: 100% !important;
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
}

.navbar-brand2 {
  font-weight: 400 !important;
  font-size: 40px !important;
  font-family: "EB Garamond", serif !important;
  color: #2c396b;
  margin-top: 20px;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;

  line-height: inherit;
  white-space: nowrap;

}
.h11{
  text-align: center;
  font-family: cursive ;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tabs{
  display: flex;
  justify-content: space-around;
  width:100%;
}
.tab1{
  width:30%;
  background-color: beige;
}
.cmd{
  width: 200px;
}


.cntainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ha {
  font-size: 120px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: black;
  outline: none;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

p {
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: black;
  letter-spacing: .5px;
}
.tab22{
  background-color: #eee;
}